<!DOCTYPE html>
<html lang="en" xmlns:th:="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Todo Application: projects</title>
</head>
<body>
<main>
    <!--/*thymesVar id="message" type="String"*/-->
    <h3 th:if="${message != null}" th:text="${message}"></h3>

    <!--/*thymesVar id="projects" type="java.util.List<io.github.pmat.todoapp.model.Project>"*/-->
    <dl th:each="project: ${projects}" class="Bd P(10px)">
        <dt th:text="${project.description}">...</dt>
        <dd>
            <ul>
                <li th:each="step: ${project.projectSteps}"
                    th:text="|${step.description} (${step.daysToDeadline} days)|" class="P(0)"></li>
            </ul>
        </dd>
    </dl>

    <fieldset>
        <legend>New project</legend>
        <!--/*@thymesVar id="project" type="io.github.pmat.todoapp.model.projection.ProjectWriteModel"*/-->
        <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
            <label>
                Description
                <input type="text" th:field="*{description}"/>
            </label>
            <fieldset th:each="step, stepStat : *{steps}">
                <legend th:text="|Step ${stepStat.index + 1}|"></legend>
                <label>
                    Description
                    <input type="text" th:field="*{steps[__${stepStat.index}__].description}"/>
                </label>
                <label>
                    Deadline
                    <input type="number" th:field="*{steps[__${stepStat.index}__].daysToDeadline}"/>
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addStep">+</button>
            </div>
    </fieldset>
    <p>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
    </p>
    </form>
</main>
</body>
</html>